/* LOGIN FORM */

.login-form-container {
    position: fixed;
    top: 8.5rem;
    left: 0;
    right: 0;
    z-index: 1000;
    height: calc(100vh - 8.5rem);
    background: #fff;
    padding: 0 2rem;
    display: none;
}

.login-form-container.active {
    display: block;
}

.login-form-container form {
    margin: 2rem auto;
    max-width: 40rem;
    -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    padding: 2rem;
    border-radius: .5rem;
    -webkit-animation: fadeUp .4s linear;
    animation: fadeUp .4s linear;
}

.login-form-container form h3 {
    padding-bottom: 1rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #130f40;
}

.login-form-container form .box {
    margin: .7rem 0;
    border-radius: .5rem;
    background: #f7f7f7;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    color: #130f40;
    text-transform: none;
    width: 100%;
}

.login-form-container form .remember {
    padding: 1rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: .5rem;
}

.login-form-container form .remember label {
    font-size: 1.5rem;
    cursor: pointer;
    color: #666;
}

.login-form-container form .btn {
    margin: 1rem 0;
    width: 100%;
    text-align: center;
}

.login-form-container form p {
    padding-top: 1rem;
    font-size: 1.5rem;
    color: #666;
}

.login-form-container form p a {
    color: #C5CF4B;
}

.login-form-container form p a:hover {
    color: #130f40;
    text-decoration: underline;
}