.footer .box-container .box h3 {
    font-size: 2.2rem;
    color: #130f40;
    padding: 1rem 0;
}

.footer .box-container .box p {
    font-size: 1.4rem;
    color: #666;
    padding: 1rem 0;
}

.footer .box-container .box a {
    display: block;
    font-size: 1.4rem;
    color: #666;
    padding: 1rem 0;
}

.footer .box-container .box a:hover {
    color: #C5CF4B;
}

.footer .box-container .box a:hover img.arrow {
    padding-right: 2rem;
}

.footer .box-container .box a img.arrow {
    padding-right: .5rem;
    color: #C5CF4B;
    width: 1em;
}

.footer .box-container .box img.arrow {
    padding-right: .5rem;
    color: #C5CF4B;
    width: 1em;
}