.menu .box-container .box {
    border-radius: .5rem;
    background: #f7f7f7;
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1.5rem;
}

.menu .box-container .box:hover {
    background: #C5CF4B;
}

.menu .box-container .box:hover .content h3 {
    color: #fff;
}

.menu .box-container .box img {
    height: 10rem;
}

.menu .box-container .box .content h3 {
    font-size: 2rem;
    color: #130f40;
    padding-bottom: .5rem;
}

.menu .box-container .box .content .price {
    font-size: 1.8rem;
    color: #5B666C;
}